<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 8</title>
    <link rel="stylesheet" href="/css/normalization.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="section-1">
        <div class="container flex">
            <div class="card">
                <div class="union">
                    <div></div>
                    <div class="tier"></div>
                    <div class="icon"></div>
                </div>
                <div class="frame"></div>
                <div class="tier"></div>
                <div class="icon"></div>
            </div>
        </div>
    </section>
    <section id="section-2">
        <div class="container flex">
            <div class="card">

            </div>
        </div>
    </section>
    <section id="section-3">
        <div class="container flex">
            <div class="card">

            </div>
        </div>
    </section>
</body>
</html>