<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 8</title>
    <link rel="stylesheet" href="/css/normalization.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="section-1" class="hidden">
        <div class="container flex">
            <div class="card">
                <div class="bg growing">
                    <img src="/assets/image/growing1.svg" alt="growing effect">
                </div>
                <div class="bg bg-card">
                    <img src="/assets/image/light_bg1.svg" alt="bg light" class="bg-light">
                    <div class="pattern">
                        <img src="/assets/image/pattern1.svg" alt="pattern">
                    </div>
                </div>
                <div class="frame bg">
                    <img src="/assets/image/frame1.svg" alt="frame">
                </div>
                <div class="union bg">
                    <img src="/assets/image/union1.svg" alt="union">
                </div>
                <div class="absolute symbol">
                    <div class="books">
                        <img src="/assets/icon/book1_1.svg" alt="book 1">
                        <img src="/assets/icon/book2_1.svg" alt="book 2">
                        <img src="/assets/icon/book3_1.svg" alt="book 3">
                        <img src="/assets/icon/book4_1.svg" alt="book 4">
                    </div>
                    <div class="eyes">
                        <img src="/assets/icon/eye_center1.svg" alt="center eye">
                        <img src="/assets/icon/eye_cover_center1.svg" alt="covered center eye">
                        <img src="/assets/icon/eye_top1.svg" alt="top eye">
                        <img src="/assets/icon/eye_bottom1.svg" alt="bottom eye">
                        <img src="/assets/icon/eye_left1.svg" alt="left eye">
                        <img src="/assets/icon/eye_right1.svg" alt="right eye">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-2" class="hidden">
        <div class="container flex">
            <div class="card">
                <div class="bg growing">
                    <img src="/assets/image/growing2.svg" alt="growing effect">
                </div>
                <div class="bg bg-card">
                    <img src="/assets/image/light_bg1.svg" alt="bg light" class="bg-light">
                    <div class="pattern">
                        <img src="/assets/image/pattern2.svg" alt="pattern">
                    </div>
                </div>
                <div class="frame bg">
                    <img src="/assets/image/frame1.svg" alt="frame">
                </div>
                <div class="union bg">
                    <img src="/assets/image/union2.svg" alt="union">
                </div>
                <div class="absolute symbol">
                    <div class="arrows">
                        <img src="/assets/icon/arrow_right_1_2.svg" alt="arrow right">
                        <img src="/assets/icon/arrow_right_1_2.svg" alt="arrow right">
                        <img src="/assets/icon/arrow_left_1_2.svg" alt="arrow left">
                        <img src="/assets/icon/arrow_left_1_2.svg" alt="arrow left">
                    </div>
                    <div class="head">
                        <div class="left">
                            <img src="/assets/icon/head_left1_2.svg" alt="head left 1">
                            <img src="/assets/icon/head_left2_2.svg" alt="head left 2">
                            <img src="/assets/icon/head_left3_2.svg" alt="head left 3">
                            <img src="/assets/icon/head_left4_2.svg" alt="head left 4">
                            <img src="/assets/icon/head_left5_2.svg" alt="head left 5">
                        </div>
                        <div class="right">
                            <img src="/assets/icon/head_right1_2.svg" alt="head right 1">
                            <img src="/assets/icon/head_right2_2.svg" alt="head right 2">
                            <img src="/assets/icon/head_right3_2.svg" alt="head right 3">
                            <img src="/assets/icon/head_right4_2.svg" alt="head right 4">
                            <img src="/assets/icon/head_right5_2.svg" alt="head right 5">
                            
                        </div>
                        <img src="/assets/icon/head_center_2.svg" alt="head center">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-3" class="hidden">
        <div class="container flex">
            <div class="card">
                <div class="bg growing">
                    <img src="/assets/image/growing3.svg" alt="growing effect">
                </div>
                <div class="bg bg-card">
                    <img src="/assets/image/light_bg3.svg" alt="bg light" class="bg-light">
                    <div class="pattern">
                        <img src="/assets/image/pattern3.svg" alt="pattern">
                    </div>
                </div>
                <div class="frame bg">
                    <img src="/assets/image/frame3.svg" alt="frame">
                </div>
                <div class="union bg">
                    <img src="/assets/image/union3.svg" alt="union">
                </div>
                <div class="absolute symbol">
                    <div class="shaman">
                        <img src="/assets/icon/shuriken_outer3.svg" alt="shuriken outer">
                        <img src="/assets/icon/shuriken_main3.svg" alt="shuriken">
                        <img src="/assets/icon/shuriken_pieces3.svg" alt="shuriken pieces">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>