<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 8</title>
    <link rel="stylesheet" href="/css/normalization.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="section-1">
        <div class="container flex">
            <div class="card">
                <div class="bg bg-card">
                    <img src="/assets/image/light_bg1.svg" alt="bg light" class="bg-light">
                    <div class="pattern">
                        <img src="/assets/image/pattern1.svg" alt="pattern">
                    </div>
                </div>
                <div class="frame bg">
                    <img src="/assets/image/frame1.svg" alt="frame">
                </div>
                <div class="union bg">
                    <img src="/assets/image/union.svg" alt="union">
                </div>
                <div class="absolute symbol">
                    <div class="books">
                        <img src="/assets/icon/book1_1.svg" alt="book 1">
                        <img src="/assets/icon/book2_1.svg" alt="book 2">
                        <img src="/assets/icon/book3_1.svg" alt="book 3">
                        <img src="/assets/icon/book4_1.svg" alt="book 4">
                    </div>
                    <div class="eyes">
                        <img src="/assets/icon/eye_center1.svg" alt="center eye">
                        <img src="/assets/icon/eye_cover_center1.svg" alt="covered center eye">
                        <img src="/assets/icon/eye_top1.svg" alt="top eye">
                        <img src="/assets/icon/eye_bottom1.svg" alt="bottom eye">
                        <img src="/assets/icon/eye_left1.svg" alt="left eye">
                        <img src="/assets/icon/eye_right1.svg" alt="right eye">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-2">
        <div class="container flex">
            <div class="card">
                <div class="bg bg-card">
                    <img src="/assets/image/light_bg1.svg" alt="bg light" class="bg-light">
                    <div class="pattern">
                        <img src="/assets/image/pattern1.svg" alt="pattern">
                    </div>
                </div>
                <div class="frame bg">
                    <img src="/assets/image/frame1.svg" alt="frame">
                </div>
                <div class="union bg">
                    <img src="/assets/image/union.svg" alt="union">
                </div>
                <div class="absolute">
                    <div class="eyes">
                        
                    </div>
                    <div class="books">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-3">
        <div class="container flex">
            <div class="card">
                <div class="bg bg-card">
                    <img src="/assets/image/light_bg1.svg" alt="bg light" class="bg-light">
                    <div class="pattern">
                        <img src="/assets/image/pattern1.svg" alt="pattern">
                    </div>
                </div>
                <div class="frame bg">
                    <img src="/assets/image/frame1.svg" alt="frame">
                </div>
                <div class="union bg">
                    <img src="/assets/image/union.svg" alt="union">
                </div>
                <div class="absolute">
                    <div class="eyes">
                        
                    </div>
                    <div class="books">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>