:root {
    --color-dark-indigo: #101225;

    --bg-color: var(--color-dark-indigo);
}

body {
    background-color: var(--bg-color);
}

section {
    /* overflow: hidden; */
}

/* background image in div > img template */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.absolute {
    position: absolute;
}

.card {
    z-index: 2;
    min-width: 20%;
    aspect-ratio: 0.575;
    background-color: rgba(255, 36, 36, 0);
    position: relative;
}

.bg-card {
    overflow: hidden;
    z-index: 3;
    img {
        position: absolute;
    }

    .bg-light {
        left: 12.5%;
        bottom: 10%;
        width: 75%;
    }

    .pattern {
        position: absolute;
        width: 75%;
        overflow: hidden;
        bottom: 10%;
        aspect-ratio: 1;
        left: 12.5%;
        img {
            left: -15%;
            max-width: 130%;
            bottom: -20%;
        }
    }
}

.union {
    z-index: 4;
    /* filter: blur(5px);
    mix-blend-mode: overlay;
    opacity: 0.6; */

    img {
        position: absolute;
        bottom: -1%;
        left: -7.5%;
        max-width: 115%;
    }
}

.frame {
    z-index: 5;
}

.symbol {
    z-index: 5;
    bottom: 30%;
    width: 100%;
    aspect-ratio: 1;

    .books > img {
        position: absolute;
        width: 10.5%;
    }

    .books > img:nth-child(1) {
        bottom: 20%;
        left: 12.5%;
    }

    .books > img:nth-child(2) {
        bottom: 30.5%;
        left: 24.25%;
    }

    .books > img:nth-child(3) {
        bottom: 26.5%;
        right: 12.5%;
    }

    .books > img:nth-child(4) {
        bottom: 16%;
        right: 24.25%;
    }

    .eyes > img {
        position: absolute;
    }

    .eyes > img:nth-child(1), .eyes > img:nth-child(2) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .eyes > img:nth-child(1) {
        width: 5.35%;
    }

    .eyes > img:nth-child(2) {
        width: 18.75%;
    }

    .eyes > img:nth-child(3), .eyes > img:nth-child(4) {
        left: 50%;
        width: 24.95%;
        transform: translate(-50%);
    }

    .eyes > img:nth-child(3) {
        top: 10%;
    }

    .eyes > img:nth-child(4) {
        bottom: 10%;
    }


    .eyes > img:nth-child(5), .eyes > img:nth-child(6) {
        width: 39.55%;
    }

    .eyes > img:nth-child(5) {
        top: 30%;
        left: 4.5%;
    }

    .eyes > img:nth-child(6) {
        top: 30%;
        right: 5%;
    }
    
}

.growing {
    z-index: 6;
    filter: blur(50px);
    mix-blend-mode: overlay;
    opacity: 0.6;

    img {
        position: absolute;
        bottom: -1%;
        left: -8.5%;
        max-width: 115%;
    }

}

/* card 2 */
.symbol {

    .arrows img, .head img {
        position: absolute;
    }

    .arrows img {
        width: 58.5%;
    }

    .arrows img:nth-child(1) {
        bottom: 8.5%;
        left: 8.5%;
    }

    .arrows img:nth-child(2) {
        bottom: 4.5%;
        left: 14.5%;
    }

    .arrows img:nth-child(3) {
        bottom: 8.5%;
        right: 10.25%;
    }

    .arrows img:nth-child(4) {
        bottom: 4.5%;
        right: 16.25%;
    }
    
    /* center head*/
    .head > img {
        width: 19.45%;
        bottom: 8%;
        left: 50%;
        transform: translate(-50%);
    }

    .head .left img:nth-child(1) {
        width: 18.925%;
        bottom: 26%;
        left: 28.95%;
    }

    .head .left img:nth-child(2) {
        width: 19.976%;
        bottom: 37%;
        left: 12%;
    }

    .head .left img:nth-child(3) {
        width: 5.783%;
        left: 50%;
        transform: translate(-95%);
        bottom: 25.5%;
    }

    .head .left img:nth-child(4) {
        width: 18.15%;
        left: 25.5%;
        bottom: 35.5%;
    }

    .head .left img:nth-child(5) {
        width: 28.42%;
        bottom: 51%;
        left: 1%;
    }

    .head .right img:nth-child(1) {
        width: 18.925%;
        bottom: 26%;
        right: 28.95%;
    }

    .head .right img:nth-child(2) {
        width: 19.976%;
        bottom: 37%;
        right: 12%;
    }

    .head .right img:nth-child(3) {
        width: 5.783%;
        right: 50%;
        transform: translate(95%);
        bottom: 25.5%;
    }

    .head .right img:nth-child(4) {
        width: 18.15%;
        right: 25.5%;
        bottom: 35.5%;
    }

    .head .right img:nth-child(5) {
        width: 28.42%;
        bottom: 51%;
        right: 1%;
    }

}

/* Animation UwU */

/* card-1 animation */
/* default stage*/
#section-1.hidden .card .symbol{

    .books img:nth-child(1), .books img:nth-child(2) {
        margin-bottom: 30%;
    }

    .books img:nth-child(3), .books img:nth-child(4) {
        margin-bottom: 60%;
    }

    .books img:nth-child(1) {
        transform: translate(35%, 125%);
    }
    
    .books img:nth-child(2) {
        transform: translateY(135%);
    }

    .books img:nth-child(3) {
        transform: translate(40%, -60%);
    }
    
    .books img:nth-child(4) {
        transform: translate(75%, -70%);
    }

    .books img {
        rotate: -45deg;
        opacity: 0;
    }
}

section.hidden .card .growing, section.show .card:hover .growing {
    opacity: 0;
}

section.show .card .growing {
    opacity: 1;
    transition: all 2s;
    transition-timing-function: ease;
}

section.hidden .card .bg-card {
    .bg-light, .pattern {
        opacity: 0;
    }
}

section.show .card:hover .bg-card .bg-light, section.show .card:hover .bg-card .pattern {
    opacity: 0;
}

section.show .card .bg-card {
    .bg-light, .pattern {
        opacity: 1;
        transition: all 2s;
        transition-timing-function: ease;
    }
}

section.hidden .card .union {
    img {
        opacity: 0;
        bottom: 21%;
    }
}

section.hidden .card:hover .union img {
    opacity: 0;
    bottom: 21%;
}

section.show .card .union {
    img {
        opacity: 1;
        bottom: -1%;
        transition: all 1.5s;
        transition-timing-function: ease;
    }
}

@keyframes center-eye-rotate {
    0% {
        top: 8.5%;
        transform: translateY(-15%);
        rotate: -135deg;
    }

    100% {
        top: 50%;
        transform: translate(-50%, -50%);
        rotate: 0deg;
    }
}

@keyframes center-cover-eye-rotate {
    0% {
        rotate: 45deg;
        top: -7.5%;
        transform: scale(200%) translateY(16.5%);
    }

    35% {
        left: 45%;
    }

    100% {
        rotate: 0deg;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(100%);
    }
}

@keyframes top-eye-rotate {
    0% {
        rotate: -225deg;
        top: -40%;
        transform: translate(150%, 100%);
    }

    80% {
        rotate: 0deg;
        transform: translate(-50%);
    }

    100% {
        rotate: 0deg;
        transform: translate(-50%);
        left: 50%;
        top: 10%;    
    }
}

@keyframes bottom-eye-rotate {
    0% {
        rotate: -225deg;
        transform: translate(-150%, 20%);
    }

    80% {
        rotate: 0deg;
        transform: translate(-50%);
    }

    100% {
        rotate: 0deg;
        transform: translate(-50%);
        left: 50%;
        bottom: 10%;    
    }
}

@keyframes left-eye-rotate {
    0% {
        transform: translate(-6%, -12%);
        rotate: -45deg;
    }

    100% {
        transform: translate(0%, 0%);
        rotate: 0deg;
    }
}

@keyframes right-eye-rotate {
    0% {
        transform: translate(137%, -103%);
        rotate: -45deg;
    }

    100% {
        transform: translate(0%, 0%);
        rotate: 0deg;
    }
}

#section-1.show .card:hover .symbol {
    
    .books img:nth-child(1), .books img:nth-child(2) {
        margin-bottom: 30%;
    }

    .books img:nth-child(3), .books img:nth-child(4) {
        margin-bottom: 60%;
    }

    .books img:nth-child(1) {
        transform: translate(35%, 125%);
    }
    
    .books img:nth-child(2) {
        transform: translateY(135%);
    }

    .books img:nth-child(3) {
        transform: translate(40%, -60%);
    }
    
    .books img:nth-child(4) {
        transform: translate(75%, -70%);
    }

    .books img {
        rotate: -45deg;
        opacity: 0;
    }
}

#section-1.show .card .symbol {

    .books img:nth-child(1), .books img:nth-child(2) {
        margin-bottom: 0;
    }

    .books img:nth-child(3), .books img:nth-child(4) {
        margin-bottom: 0;
    }

    .books img:nth-child(1) {
        transform: translate(0, 0);
    }
    
    .books img:nth-child(2) {
        transform: translateY(0);
    }

    .books img:nth-child(3) {
        transform: translate(0, 0);
    }
    
    .books img:nth-child(4) {
        transform: translate(0, 0);
    }

    .books img {
        rotate: 0deg;
        opacity: 1;
        transition: all 1.25s;
        transition-timing-function: ease;
    }

    .eyes img:nth-child(1) {
        top: 8.5%;
        transform: translateY(-15%);
        rotate: -135deg;
        animation-name: center-eye-rotate;
    }

    .eyes img:nth-child(2) {
        rotate: 45deg;
        top: -7.5%;
        transform: scale(200%) translateY(16.5%);
        animation-name: center-cover-eye-rotate;
    }

    .eyes img:nth-child(3) {
        rotate: -225deg;
        top: -40%;
        transform: translate(150%, 100%);
        animation-name: top-eye-rotate;
    }

    .eyes img:nth-child(4) {
        rotate: -225deg;
        transform: translate(-150%, 20%);
        animation-name: bottom-eye-rotate;
    }

    .eyes img:nth-child(5) {
        transform: translate(-6%, -12%);
        rotate: -45deg;
        animation-name: left-eye-rotate;
    }

    .eyes img:nth-child(6) {
        transform: translate(137%, -103%);
        rotate:  -45deg;
        animation-name: right-eye-rotate;
    }

    .eyes img {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }

}

@keyframes reversed-center-eye-rotate {
    0% {
        top: 50%;
        transform: translate(-50%, -50%);
        rotate: 0deg;
    }

    100% {
        top: 8.5%;
        transform: translateY(-15%);
        rotate: -135deg;
    }
}

@keyframes reversed-center-cover-eye-rotate {
    0% {
        rotate: 0deg;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(100%);
    }

    35% {
        left: 45%;
    }

    100% {
        rotate: 45deg;
        top: -7.5%;
        transform: scale(200%) translateY(16.5%);
    }
}

@keyframes reversed-top-eye-rotate {
    0% {
        rotate: 0deg;
        transform: translate(-50%);
        left: 50%;
        top: 10%;    
    }

    20% {
        rotate: 0deg;
        transform: translate(-50%);
    }

    100% {
        rotate: -225deg;
        top: -40%;
        transform: translate(150%, 100%);
    }
}

@keyframes reversed-bottom-eye-rotate {
    0% {
        rotate: 0deg;
        transform: translate(-50%);
        left: 50%;
        bottom: 10%;    
    }

    20% {
        rotate: 0deg;
        transform: translate(-50%);
    }

    100% {
        rotate: -225deg;
        transform: translate(-150%, 20%);
    }
}

@keyframes reversed-left-eye-rotate {
    0% {
        transform: translate(0%, 0%);
        rotate: 0deg;
    }

    100% {
        transform: translate(-6%, -12%);
        rotate: -45deg;
    }
}

@keyframes reversed-right-eye-rotate {
    0% {
        transform: translate(0%, 0%);
        rotate: 0deg;
    }

    100% {
        transform: translate(137%, -103%);
        rotate: -45deg;
    }
}


#section-1.show .card:hover .symbol {
    .eyes img:nth-child(1) {
        animation-name: reversed-center-eye-rotate;
    }

    .eyes img:nth-child(2) {
        animation-name: reversed-center-cover-eye-rotate;
    }

    .eyes img:nth-child(3) {
        animation-name: reversed-top-eye-rotate;
    }

    .eyes img:nth-child(4) {
        animation-name: reversed-bottom-eye-rotate;
    }

    .eyes img:nth-child(5) {
        animation-name: reversed-left-eye-rotate;
    }

    .eyes img:nth-child(6) {
        animation-name: reversed-right-eye-rotate;
    }

    .eyes img {
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

/* card-2 animation */
/* default stage*/

#section-2.hidden .card .symbol {
    .arrows img {
        opacity: 0;
    }
    .arrows img:nth-child(1) {
        rotate: -60deg;
        bottom: 27.5%;
        left: -40.5%;
    }

    .arrows img:nth-child(2) {
        rotate: -4.5deg;
        bottom: 7.5%;
        left: -3.5%;
    }

    .arrows img:nth-child(3) {
        rotate: 4.5deg;
        bottom: 7.5%;
        right: -3.5%;
    }

    .arrows img:nth-child(4) {
        rotate: 60deg;
        bottom: 27.5%;
        right: -40.5%;
    }

    .head > img {
        bottom: 24%;
        transform: translate(-50%) scale(150%);
    }

    .head .left img:nth-child(1) {
        transform: scale(150%) translate(-5%, -140%);
        rotate: -30deg;
    }

    .head .left img:nth-child(2) {
        transform: scale(150%) translate(-20%, -175%);
        rotate: -45deg;
    }

    .head .left img:nth-child(3) {
        transform: scale(150%) translate(-84.5%, -140%);
    }

    .head .left img:nth-child(4) {
        transform: scale(150%) translate(-121%, -112%);
    }

    .head .left img:nth-child(5) {
        transform: scale(150%) translate(-52%, -80%);
        rotate: -30deg;
    }
    
    .head .right img:nth-child(1) {
        transform: scale(150%) translate(5%, -140%);
        rotate: 30deg;
    }

    .head .right img:nth-child(2) {
        transform: scale(150%) translate(20%, -175%);
        rotate: 45deg;
    }

    .head .right img:nth-child(3) {
        transform: scale(150%) translate(84.5%, -205%);
    }

    .head .right img:nth-child(4) {
        transform: scale(150%) translate(121%, -112%);
    }

    .head .right img:nth-child(5) {
        transform: scale(150%) translate(52%, -80%);
        rotate: 30deg;
    }
    
}

/* card-2 hover part */
#section-2.show .card:hover .symbol {
    .arrows img {
        opacity: 0;
    }
    .arrows img:nth-child(1) {
        rotate: -60deg;
        bottom: 27.5%;
        left: -40.5%;
    }

    .arrows img:nth-child(2) {
        rotate: -4.5deg;
        bottom: 7.5%;
        left: -3.5%;
    }

    .arrows img:nth-child(3) {
        rotate: 4.5deg;
        bottom: 7.5%;
        right: -3.5%;
    }

    .arrows img:nth-child(4) {
        rotate: 60deg;
        bottom: 27.5%;
        right: -40.5%;
    }

    .head > img {
        bottom: 24%;
        transform: translate(-50%) scale(150%);
    }

    .head .left img:nth-child(1) {
        transform: scale(150%) translate(-5%, -140%);
        rotate: -30deg;
    }

    .head .left img:nth-child(2) {
        transform: scale(150%) translate(-20%, -175%);
        rotate: -45deg;
    }

    .head .left img:nth-child(3) {
        transform: scale(150%) translate(-84.5%, -140%);
    }

    .head .left img:nth-child(4) {
        transform: scale(150%) translate(-121%, -112%);
    }

    .head .left img:nth-child(5) {
        transform: scale(150%) translate(-52%, -80%);
        rotate: -30deg;
    }
    
    .head .right img:nth-child(1) {
        transform: scale(150%) translate(5%, -140%);
        rotate: 30deg;
    }

    .head .right img:nth-child(2) {
        transform: scale(150%) translate(20%, -175%);
        rotate: 45deg;
    }

    .head .right img:nth-child(3) {
        transform: scale(150%) translate(84.5%, -205%);
    }

    .head .right img:nth-child(4) {
        transform: scale(150%) translate(121%, -112%);
    }

    .head .right img:nth-child(5) {
        transform: scale(150%) translate(52%, -80%);
        rotate: 30deg;
    }
    
}

/* card-2 show part */

#section-2.show .card .symbol {
    .arrows img {
        opacity: 1;
    }

    .arrows img:nth-child(1) {
        rotate: 0deg;
        bottom: 8.5%;
        left: 8.5%;
    }

    .arrows img:nth-child(2) {
        rotate: 0deg;
        bottom: 4.5%;
        left: 14.5%;
    }

    .arrows img:nth-child(3) {
        rotate: 0deg;
        bottom: 8.5%;
        right: 10.25%;
    }

    .arrows img:nth-child(4) {
        rotate: 0deg;
        bottom: 4.5%;
        right: 16.25%;
    }

    .head > img {
        bottom: 8%;
        transform: translate(-50%) scale(100%);
    }

    .head .left img:nth-child(1) {
        transform: scale(100%) translate(0%, 0%);
        rotate: 0deg;
    }

    .head .left img:nth-child(2) {
        transform: scale(100%) translate(0%, 0%);
        rotate: 0deg;
    }

    .head .left img:nth-child(3) {
        transform: scale(100%) translate(-95%, 0%);
    }

    .head .left img:nth-child(4) {
        transform: scale(100%) translate(0%, 0%);
    }

    .head .left img:nth-child(5) {
        transform: scale(100%) translate(0%, 0%);
        rotate: 0deg;
    }
    
    .head .right img:nth-child(1) {
        transform: scale(100%) translate(0%, 0%);
        rotate: 0deg;
    }

    .head .right img:nth-child(2) {
        transform: scale(100%) translate(0%, 0%);
        rotate: 0deg;
    }

    .head .right img:nth-child(3) {
        transform: scale(100%) translate(95%, 0%);
    }

    .head .right img:nth-child(4) {
        transform: scale(100%) translate(0%, 0%);
    }

    .head .right img:nth-child(5) {
        transform: scale(100%) translate(0%, 0%);
        rotate: 0deg;
    }

    /* I seperate nested for different timing animation*/

    .arrows img {
        transition: all 1s;
        transition-timing-function: ease-out;
    }

    .head img {
        transition: all 1.25s;
        transition-timing-function: ease;
    }
}